body {
  font-family: 'Roboto', sans-serif;
  background: url("/img/bkgd.jpg") no-repeat center center fixed;
  background-size: cover;
  color: #141f47; }

h2 {
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 600;
  margin: 6rem 0 2rem;
  color: #141f47; }

p {
  color: #141f47;
  font-size: 0.95em;
  margin: 0 0 20px; }

a {
  text-decoration: underline;
  color: #141f47;
  word-wrap: break-word; }

pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 3px;
  border: none; }
  pre code {
    display: inline;
    max-width: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0; }

.main-content {
  background: rgba(255, 255, 255, 0.8);
  min-height: 100vh;
  padding: 3rem 5rem; }

.airship-logo {
  text-align: left;
  width: 40%; }

.brand {
  margin: 2rem auto 0; }

.quote-wrapper {
  text-align: left; }

.quote {
  font-family: 'Roboto', sans-serif;
  color: #141f47;
  font-size: 1.85em;
  font-weight: 100;
  line-height: 1em;
  margin-top: 30px; }

.main-button {
  background: #65c7c2;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.1875rem 6rem;
  font-size: 1.25rem;
  line-height: 2;
  border-radius: 2rem;
  white-space: nowrap; }
  .main-button:hover, .main-button:focus {
    background: #42847f;
    color: white;
    text-decoration: none; }
