body {
	font-family: 'Roboto', sans-serif;
  background: url('/img/bkgd.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
	background-size: cover;
	color: $type;
}
h2 {
	text-transform: uppercase;
	font-size: 1.4em;
	font-weight: 500;
	margin: 6rem 0 2rem;
	color: $headings;
}
p {
	color: $type;
	font-size: 0.95em;
	margin: 0 0 20px;
}
a {
	text-decoration: underline;
	color: $headings;
	word-wrap:break-word;
}
.main-content {
	background: rgba($color: #ffffff, $alpha: 0.8);
	min-height: 100vh;
	padding: 3rem 5rem;
}
.centered-logo {
	text-align: center;
	width: 100%;
}
.brand {
	margin: 2rem auto 0;
}
.quote-wrapper {
	text-align: center;
}
.quote {
	font-family: 'Slabo 27px', serif;
	color: $type;
	font-size: 2.5em;
	line-height: 1em;
	margin-top: 30px;
}
.main-button {
	background: $mainbtn;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	padding: 1.1875rem 6rem;
	font-size: 1.25rem;
	line-height: 2;
	border-radius: 2rem;
	white-space: nowrap;
	&:hover, &:focus {
		background: $mainbtnhover;
		color: white;
		text-decoration: none;
	}
}