body {
	font-family: 'Roboto', sans-serif;
  background: url('/img/bkgd.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
	background-size: cover;
	color: $type;
}
h2 {
	text-transform: uppercase;
	font-size: 1.2em;
	font-weight: 600;
	margin: 6rem 0 2rem;
	color: $headings;
}
p {
	color: $type;
	font-size: 0.95em;
	margin: 0 0 20px;
}
a {
	text-decoration: underline;
	color: $headings;
	word-wrap:break-word;
}
pre {
	padding: 16px;
	overflow: auto;
	font-size: 85%;
	line-height: 1.45;
	background-color: #f6f8fa;
	border-radius: 3px;
	border: none;
	code {
		display: inline;
		max-width: auto;
		padding: 0;
		margin: 0;
		overflow: visible;
		line-height: inherit;
		word-wrap: normal;
		background-color: transparent;
		border: 0;
	}
}
.main-content {
	background: rgba($color: #ffffff, $alpha: 0.8);
	min-height: 100vh;
	padding: 3rem 5rem;
}
.airship-logo {
	text-align: left;
	width: 40%;
}

@media screen and (max-width: 576px) {
    .airship-logo {
		width: 90%;
	}
}

.brand {
	margin: 2rem auto 0;
}
.quote-wrapper {
	text-align: left;
}
.quote {
	font-family: 'Roboto', sans-serif;
	color: $type;
	font-size: 1.85em;
	font-weight: 100;
	line-height: 1em;
	margin-top: 30px;
}

@media screen and (max-width: 576px) {
    .quote {
		font-size: 1.6em;;
	}
}

.main-button {
	background: $mainbtn;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	padding: 1.1875rem 6rem;
	font-size: 1.25rem;
	line-height: 2;
	border-radius: 2rem;
	white-space: nowrap;
	&:hover, &:focus {
		background: $mainbtnhover;
		color: white;
		text-decoration: none;
	}
}